# Dependencies
node_modules/
.pnp
.pnp.js

# Bun
bun.lockb

# Env files
.env
.env.*
!.env.example

# Build output
dist/
build/
.next/
out/

# Prisma
packages/db/generated/

# Testing
coverage/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# TypeScript
*.tsbuildinfo

# Docker
docker-compose.override.yml
